
.minimizable-web-chat > button.maximize {
    border-radius: 20%;
    bottom: 20px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    height: 64px;
    outline: 0;
    /* padding: 15px; */
    position: fixed;
    right: 20px;
    width: 64px;
    text-decoration: none;
    display: inline-block;
    background: url("img/00-Avatar-Dipo.png");
    background-size: contain;
    border:none;
}

.minimizable-web-chat > button.maximize img {
    border-radius: 50%; 
    right: 20px; 
    bottom: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;

}

.minimizable-web-chat > button.maximize:focus:not(:active),
.minimizable-web-chat > button.maximize:hover:not(:active) {
    background-color: #2a9df5;
    border-color: #2a9df5;
}

.minimizable-web-chat > button.maximize:active {
    background-color: White;
    color: #47afe7;
}

.minimizable-web-chat > button.maximize.chat-button-hidden  {
    visibility: hidden;
}

@media (min-width:551px){
    .minimizable-web-chat > .chat-box {
        /* backdrop-filter: blur(10px); */
        /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0);
        /* border-radius: 6px;
        border: 6px solid #8dc12c; */
        bottom: 20px;
        display: flex;
        flex-direction: column;
        max-width: 380px;
        min-width: 320px;
        position: fixed;
        top: 100px;
        z-index: 3;
        min-height: 300px;
        width: 20%;
        visibility: hidden;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

    }
}

@media (max-width:550px){
    .minimizable-web-chat > .chat-box {
        background-color: rgba(232,242,254, 1);
        /* backdrop-filter: blur(10px); */
        /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0);
        /* border-radius: 6px;
        border: 6px solid #8dc12c; */
        bottom: 20px;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-width: 320px;
        position: fixed;
        top: 20px;
        z-index: 3;
        /* min-height: 300px; */
        width: 30%;
        visibility: hidden;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-radius: 10px;
        border-radius: 10px;
    }
}

.minimizable-web-chat > .chat-box.chat-visible {
    visibility: visible;
    border-radius: 10px;
    border-radius: 10px;
}

.minimizable-web-chat > .chat-box.right {
    right: 20px;
    border-radius: 10px;
    border-radius: 10px;
}

.minimizable-web-chat > .chat-box header {
    background-color: #472F92;
    height: 9%;
    min-height: 50px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.minimizable-web-chat > .chat-box header .title {
    margin: auto 20px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.minimizable-web-chat > .chat-box header .title .status .green_dot {
    width: 8px;
    height: 8px;
    background-color: #00FF13;
    border-radius: 50%;
    display: inline-block;
}

.minimizable-web-chat > .chat-box header .title label {
    text-align: center;
    max-height: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.minimizable-web-chat > .chat-box > header > .minimize-chat {
    width: 10%;
    margin-right: 10px;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.minimizable-web-chat > .chat-box > header > .minimize-chat > img {
    width: 30px;
    height: 100%;
    cursor: pointer;

    position: relative;
    padding-bottom: 5px;
}

.minimizable-web-chat > .chat-box > #webchat {
    flex: 1;
    display: flex;
    bottom: 0;
    width: 100%;
    max-height: 91%;
    width: 100%;

    box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
}

/*Container-1, inside #webchat*/
.minimizable-web-chat > .chat-box > #webchat 
.css-1t62idy.css-cwp94z{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    /* border: 1px solid red; */

}

/*Container-2, inside Container-1, contains messages*/
.minimizable-web-chat > .chat-box > #webchat 
.css-gtdio3.css-mfy564 {
    /* border:1px solid red; */
    background-color: rgba(232,242,254, 1);
}

.minimizable-web-chat > .chat-box > #webchat 
.css-gtdio3.css-mfy564 #animation-item .css-ostbv8.bubble {
    width: 100% !important;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.minimizable-web-chat > .chat-box > #webchat 
.markdown.css-o3xlyv{
    /* background-color: #E9F4FE; */
    background-color: #DDEEFA;
}

/* Input for entering messages */
.minimizable-web-chat > .chat-box > #webchat 
form.css-1yaojre.css-sdb7gy.css-1fe8kfc input{
    background-color: #EDF0F5;
}

/* Bubbles with text from bot and user */
.minimizable-web-chat > .chat-box > #webchat 
.css-ostbv8.bubble {
    border: none;
    border-radius: 10px;
}

/* Bubbles with text from user */
.minimizable-web-chat > .chat-box > #webchat 
.css-ostbv8.from-user.bubble {
    color: white;
    background-color: #87479B;
    border-bottom-right-radius: 0;
}

/* Bubbles with buttons */
.minimizable-web-chat > .chat-box > #webchat 
.css-ostbv8.attachment.bubble {
    background-color: transparent;
    border: none;
}

/* Bubble with image */
.minimizable-web-chat > .chat-box > #webchat 
.css-ostbv8.attachment.bubble .ac-image > img {
    border-radius: 10px;
}

/* List of buttons */
.minimizable-web-chat > .chat-box > #webchat 
.ac-container button.ac-pushButton{
    color: #87479B;
    border-color: #87479B;
    border-bottom: none;
    cursor: pointer;
}
.minimizable-web-chat > .chat-box > #webchat 
.ac-container button.ac-pushButton:active{
    background-color: #87479B;
    border-color: #87479B;
    color: white;
}
.minimizable-web-chat > .chat-box > #webchat 
.ac-container>div>div>div> button.ac-pushButton:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.minimizable-web-chat > .chat-box > #webchat 
.ac-container>div>div>div> button.ac-pushButton:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid;
}
.minimizable-web-chat > .chat-box > #webchat 
.ac-container>div>div>div div{ /*divs between buttons*/
    display: none;
}
.minimizable-web-chat > .chat-box > #webchat 
.ac-container>div>div{
    border-radius: 10px;
}

/*Container-3, inside Container-1, input for entering messages*/
.minimizable-web-chat > .chat-box > #webchat 
.css-1lmr15n.css-1882x3w.css-1l9a57c{
    /* border:2px solid yellowgreen; */
}

/*Floating button with text "New messages"*/
.minimizable-web-chat > .chat-box > #webchat 
.css-1r0h5kb {
    
}

/*Container of each message*/
.minimizable-web-chat > .chat-box > #webchat 
li .content .row{
    max-width: 100%;
    margin: auto 0;
} 

/*Container of each message's hour*/
.minimizable-web-chat > .chat-box > #webchat 
li .content .row.message{
    max-width: 100%;
    margin: auto 0;
}

/*Container of image upload button*/
.minimizable-web-chat > .chat-box > #webchat
.css-1lzfo2b.css-15g3li9{
    display: none;
}

.css-7xorrq.avatar{
    display: none;
}

button.css-1yicgt3{
    background-color:#472F92;
}

#webchat{
    border-radius: 11px;
}

.css-1t62idy.css-990gl9{
    border-radius: 11px;
}

.css-1lmr15n{

    
    border-radius: 11px;
}

.main{

    border-radius: 11px;
}

.css-1yaojre{
    border-radius: 11px;
}

.css-1yaojre > input{
    border-radius: 11px;
}

/* ::-webkit-input-placeholder { 
    color: red;
    content:'replacement string'; display:  block; text-indent:0 ; 
  }
 */
.css-1lzfo2b{
    display: none;
}

.css-17vq3lb{
    border-bottom-right-radius: 10px;
}

#imagenMinimizar{
    margin-left: 40%;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 8px;
    border-radius: 50%;
    background:#ED1C24;
    color: white;
    font-size: 10px;
  }

  button.css-1yicgt3 svg{
    fill: white;
}​