
.minimizable-web-chat > button.maximize {
    border-radius: 14%;
    bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 30px;
    height: 64px;
    outline: 0;
    position: fixed;
    right: 20px;
    width: 64px;
    text-decoration: none;
    display: inline-block;
    background: url('./img/00-Avatar-Burbuja.png');
    background-size: contain;
    border:none;
}



/* .minimizable-web-chat > button.maximize:focus:not(:active),
.minimizable-web-chat > button.maximize:hover:not(:active) {
    border-color: white;
} */

.minimizable-web-chat > button.maximize:active {
    background-color: White;
}

.minimizable-web-chat > button.maximize.chat-button-hidden  {
    visibility: hidden;
}

.minimizable-web-chat > button.maximize > .message-notification{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 4px 7px;
    border-radius: 50%;
    background-color: #FF692D;
    color: White;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.minimizable-web-chat > .chat-box * {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.minimizable-web-chat > .chat-box {
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
    
    position: fixed;
    bottom: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 500px;
    min-width: 320px;
    min-height: 300px;
    z-index: 3;
    min-height: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    visibility: hidden;
    
}


.minimizable-web-chat > .chat-box.chat-visible {
    visibility: visible;
}

.minimizable-web-chat > .chat-box.right {
    right: 20px;
}

.minimizable-web-chat > .chat-box header {
    background-color: #008567;
    height: 8%;
    min-height: 50px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.minimizable-web-chat > .chat-box header .title {
    margin: auto 20px;
    color: white;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.minimizable-web-chat > .chat-box header .title .picture{
    width: 32px;
    height: 32px;
    background: url('./img/00-Avatar-Chat.png');
    background-size: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.minimizable-web-chat > .chat-box header .title .text{
    margin-left: 5px;
    margin-top: 3px;
}

.minimizable-web-chat > .chat-box header .title .name{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: -3px;
}

.minimizable-web-chat > .chat-box header .title .status .green_dot{
    width: 10px;
    height: 10px;
    background-color: #00FF13;
    border-radius: 50%;
    display: inline-block;
    margin-top: 4px;
    margin-right: 4px;
}

.minimizable-web-chat > .chat-box header .title .status label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
}

.minimizable-web-chat > .chat-box header .buttons {
    /* width: 10%; */
    margin-right: 10px;
    /* height: 60%; */
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    
}

.minimizable-web-chat > .chat-box header .buttons div{
    cursor: pointer;
}

.minimizable-web-chat > .chat-box header .buttons div img {
    width: 20px;
    height: 20px;
}

.minimizable-web-chat > .chat-box > #webchat {
    flex: 1;
    display: flex;
    max-height: 92%; /* The rest is for the .chat-box>header */
    width: 100%;

    box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
    /* overflow-y: hidden; for fixing problem in Edge and Firefox */
}

/* Bubbles with text and attachment content */
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.bubble{
    background-color: #DDEEFA; /* #ECECEC */
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border: none;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.bubble.from-user{
    background-color: #008567;
    color: white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* Fix problem of big white space after content */
    .minimizable-web-chat > .chat-box > #webchat
    .css-1t62idy.css-990gl9 .css-gtdio3.css-mfy564 .css-y1c0xs.css-ca0rlf
    ul.css-ljhy6a.css-7c9av6
    {
        height: 100%;
    }
}

/* Bubbles with card attachment content, like column of buttons or adaptive card */
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble{
    border-radius: 10px;
    background-color: transparent;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble .ac-actionSet button.ac-pushButton{
    color: #008567;
    border-color: #008567;
    cursor: pointer;
    border-bottom: none;
    outline: none;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble .ac-actionSet button.ac-pushButton:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble .ac-actionSet button.ac-pushButton:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble .ac-actionSet button.ac-pushButton:active{
    background-color: #008567;
    color: white;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble .ac-actionSet > div{
    display: none;
}

/* Suggested actions */
.minimizable-web-chat > .chat-box > #webchat 
.css-gtdio3.css-ovmwp4 .css-u4skb7 button{
    border-radius: 10px;
    outline: none;
    color: #008567;
    cursor: pointer;
}
.minimizable-web-chat > .chat-box > #webchat 
.css-gtdio3.css-ovmwp4 .css-u4skb7 button:active{
    background-color: #008567;
    color: white;
}

/* Bubble with predefined welcome image */
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble{
    border-radius: 10px;
    background-color: transparent;
    border: none;
}
.minimizable-web-chat > .chat-box > #webchat 
.content .css-cekmep.attachment.bubble img{
    border-radius: 10px;
}

/* Form and with input for entering messages */
.minimizable-web-chat > .chat-box > #webchat 
form.css-16qahhi.css-qn8ts8.css-1g3yky9.css-1fe8kfc,
.minimizable-web-chat > .chat-box > #webchat 
form.css-16qahhi.css-qn8ts8.css-1g3yky9.css-1fe8kfc input{
    background-color: #EDF0F5;
}

/* Upload file button */
.minimizable-web-chat > .chat-box > #webchat 
.css-1lzfo2b.css-14x775w{
    display: none;
}

/* Button for sending messages */
.minimizable-web-chat > .chat-box > #webchat 
button.css-115fwte{
    background-color: #1E23E6;
}

/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .minimizable-web-chat > button.maximize {
        margin-right: 20px;
        margin-bottom: 5px;
        position: static;
    }
    .minimizable-web-chat > button.maximize > .message-notification{
        margin-right: 20px;
        margin-bottom: 5px;
    }
}
.minimizable-web-chat > .chat-box > #webchat 
button.css-115fwte svg{
    fill: #FFFFFF;
}​
